<div class="columns">
  <div class="column">
    <h1 class="title">Bem vindo ao site para exemplificar mudanças de classes com Angular</h1>
    <h2 class="subtitle">Siga as instruções e bons estudos</h2>
  </div>
</div>

<div class="columns">
  <div class="column is-2">
    <nav class="menu">
      <p class="menu-label">Selecione uma opção</p>
      <ul class="menu-list">
        <li><a href="#" [class.is-active]="menu == 1" (click)="escolhaMenu(1)">Opção 1</a></li>
        <li><a href="#" [class.is-active]="menu == 2" (click)="escolhaMenu(2)">Opção 2</a></li>
        <li><a href="#" [ngClass]="menu == 3? 'is-active' : ''" (click)="escolhaMenu(3)">Opção 3</a></li>
        <li><a href="#" [ngClass]="menu == 4? 'is-active' : ''" (click)="escolhaMenu(4)">Opção 4</a></li>
      </ul>
    </nav>
  </div>
  <div class="column is-10">
    <div class="columns">
      <div class="column">
        <h3 class="subtitle">Menu</h3>
        <p class="mb-3">Clique no menu ao lado para ver a manipulação de classes usando [class] e [ngClass].</p>
        <p class="mb-3">Note que no primeiro comando, a classe <i>is-active</i> é adicionado ao elemento quando o
          condicional é
          verdadeiro. Quando o mesmo é falso, não é adicionado a classe <i>is-active.</i></p>
        <p class="mb-3">Já para o uso do [ngClass], foi usado a construção de if/else do tipo <b>"condicional ?
            executa_se_verdaeiro : executa_se_falso"</b>. Na prática, o resultado é o mesmo</p>
        <p class="mb-3">Note ainda que o [class.XXXX] pode ser usado quantas vezes quiser em um mesmo elemento. Por
          exemplo, no botão abaixo, a cor será determinada pelo elemento selecionado do menu:</p>
        <div class="content">
          <ul>
            <li>Se não selecionou nada? <span class='has-text-danger'>Vermelho</span></li>
            <li>Se selecionou um elemento impar? <span class='has-text-info'>Vermelho</span></li>
            <li>Se selecionou um elemento par? <span class='has-text-danger'>Vermelho</span></li>
          </ul>
        </div>
        <p><button [class.button]="true" [class.is-danger]="menu%2==0" [class.is-info]="menu%2==1">Botão mágico que
            muda</button></p>
        <hr>
      </div>
    </div>

    <div class="columns">
      <div class="column">
        <h3 class="subtitle">Declarar classes</h3>
        <p class="mb-3">Veja os dois botões a seguir. Ambos são iguais, mas sua construção é diferente. No primeiro
          caso, usamos um botão HTML5 com as classes fixas...</p>
        <p class="mb-3"><button class="button is-primary is-light is-large">Botão de teste</button></p>
        <p class="mb-3">Já nesse outro caso, fazemos a mesma coisa, mas usando o [ngClass]</p>
        <p class="mb-3"><button [ngClass]="['button', 'is-primary', 'is-light', 'is-large']">Botão de teste</button></p>
        <hr>
      </div>
    </div>

    <div class="columns">
      <div class="column">
        <h3 class="subtitle">Modificar classes</h3>
        <p class="mb-3">Clique no botão a seguir. Trata-se de um botão que muda o seu estilo (conjunto de classes) de
          acordo com o número de vezes que foi clicado. Veja o código-fonte para notar o esquema de switch entre as
          classes ativas...</p>
        <p class="mb-3">
          <button [ngClass]="{
            'button' : true,
            'is-large': true,
            'is-primary' : cliquesBotao == 0,
            'is-dark' : cliquesBotao == 1,
            'is-info' : cliquesBotao == 2,
            'is-white' : cliquesBotao == 3,
            'is-warning' : cliquesBotao == 4,
            'is-danger' : cliquesBotao == 5
          }" (click)="botao()">Botão de teste</button>
        </p>

        <hr>
      </div>
    </div>

  </div>

</div>